
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff;
    height:100vh;
    display:flex;
    align-items:center
}
.bg-home {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/asset/img/home-about.png');
    height:100vh;
    background-position: center;
}
@media (min-width: 992px) {
    body {
        overflow: hidden;
    }
}
