html,
body {
	/* font-family: 'Nexa', sans-serif; */
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding:0px;
	margin:0px;
}
html{
	border:2px solid #000000;
	margin:1rem;
}
@page {
	size: A4;
	margin: 0;
}

table.report-container {
    page-break-after:always;
	page-break-inside: avoid;
	padding:0px 15px;
}
thead.report-header {
    display:table-header-group;
	page-break-inside: avoid;

}
tfoot.report-footer {
    display:table-footer-group;
	page-break-inside: avoid;

}
tr.clearborder td{
	border:unset !important;
}
.main{
	padding:0px 15px;
}

.table-head th,.table-head td{
	padding:3px 0px;
	border:none;
}
h2.bottom-head{
	text-align:center;
	margin-bottom: 20px;
    margin-top: 1px;
	font-size:14px;
}
h1.head{
	text-align:center;
	text-decoration:underline;
	margin:0px;
	font-size:17px;
	text-transform:uppercase;
}
tbody.report-container .table{
	width:100%;
}
.table{
	width:100%;

}
.table th{
	font-weight:bold;
	border-left:1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background:#03396b;
    color: #fff;
	padding:3px;
}
.table tr.color td{
	background:#EEEEEE;

}
.table tr td{
	border-left:1px solid #000000;
	padding:3px;
}

.table-noborder{
	width:100%;
}

.table-noborder tr.color td{
	background:#EEEEEE;

}
.table-noborder tr td{
	padding:3px;
}

.footer{
	color:#1E6CC4;
	padding:10px 15px 0px 15px;

}
.footer .alamat{
	font-size:11px;
}
.footer h1{
	margin:2px 0px;
	font-family: 'NexaB', sans-serif;
	font-size:17px;
}
.cl{clear:both;}
.footer-icon{
	margin-bottom:10px;
	margin-right:10px;
}
.footer-icon .text{
	float:right;
	margin-top:5px;
	margin-right:20px;
	font-weight:bold;
	font-size:11px;
}
.footer-icon .icon{
	text-align:center;
	font-size:14px;
	float:right;
	width:17px;
	height:17px;
	margin-right:5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	padding:3px;
	background:#1E6CC4;
	color:#FFFFFF;
}
.header-info{
	height:80px;
	padding-top:10px;
	margin-top:20px;
	text-align: left;
}


.report-footer-cell{
	height:130px;
}
.button-print{
	position:fixed;
	top:0px;
	right:0px;
	width:100px;
	padding:10px 20px;
	background:#000000;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	font-size:15px;
	cursor:pointer;
	z-index: 1;
}
@media print{
	.pageborder {
		position:fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: 2px solid black;
		margin: 15px;
	}
	@page {
		size: A4;
		margin: 0rem;
	}
	.report-footer-cell{
		border-bottom:none;
	}
	.footer-info{
		position:fixed;
		width:99%;
		bottom:10px;
		left:18px;
		height:100px;
		padding-top:50px;
	}
	.button-print{
		display:none;
	}
	.garis-batas{
		display:none;
	}
	html, body {
		height: 290mm;
	}
	html{
		border:none;
		margin:0;
	}

}


.wrapper-data{

	border-bottom: 1px gray dotted;

}

.wrapper-data div:first-child {
	margin-right:10%;

}

.wrapper-data .title-data{

	font-weight: 900;

}
.wrapper-data .content-data{
	height: 35px;
	border-bottom: 1px gray solid;

}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wrapper-data .col-wrapper {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	max-width: 45%;
	height: 30%;
}

.wrapper-data .col-wrapper .col-md {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	margin-right:5px;
}

.wrapper-data .col-wrapper .col-sm {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	margin-right:15px;
}

.wrapper-catatan .box-catatan{
	min-height: 70px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px;
}

.wrapper-data div p{
	margin:5px;
}

.wrapper-data p span{
	font-size: 12px;
}

span.data-label{
	display: inline-block;
	width:120px;
	letter-spacing: 1px;

}

.wrapper-responsible{
	text-align: center;
	margin-top: 4%;

}
.wrapper-responsible .box{
	display: inline-block;
	width: 20%;
}

.wrapper-responsible .box p{
	margin: 0;
}

.wrapper-responsible .box .signature{
	height: 3em;
}


.border-unset, .border-unset td {
	border: unset !important;
}

.checkbox {
	margin: 5px;
	padding: 5px;
}

.table-border-top td {
	border-top: 1px solid #000;
}
.table-border-bottom td {
	border-bottom: 1px solid #000;
}


.border-solid{
	border: 1px solid #000;
}

.border-unset {
	border: unset !important;
}

.checkbox {
	margin: 5px;
	padding: 5px;
}
.table-border td, .table-border th{
	border: 1px solid #000;
}

.table td:last-child, .table th:last-child{
	border-right:1px solid #000000;
}

.table tr:last-child td{
	border-bottom:1px solid #000000;
}

.table tr.table-footer td{
	border-left: none;
	border-right: none;


}
.table  tr.table-footer:last-child td{
	border-bottom:none;
}


.table  tr.table-footer  td:last-child{
	border-bottom: 1px solid black;
	border-right: none;
}

.table-head{

}
.table-head th,.table-head td{
	padding:3px 0px;
}
h2.bottom-head{
	text-align:center;
	margin-bottom: 20px;
	margin-top: 1px;
	font-size:14px;
}
h1.head{
	text-align:center;
	text-decoration:underline;
	margin:0px;
	font-size:17px;
	text-transform:uppercase;
}

h1.txt-dec-none {
	text-decoration: none !important;
}

hr {
	border-color: black;
	border-width: 1px;
}
