@font-face {
    font-family: 'futura-md';
    src: url('/assets/fonts/futumd.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'futura-md-italic';
    src: url('/assets/fonts/futumditalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'futura-bold';
    src: url('/assets/fonts/futuramdbold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'futura-bold-italic';
    src: url('/assets/fonts/futurabolditalic.ttf') format('truetype');
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '~bootstrap/dist/css/bootstrap.css';

:root {
    --color-primary : #0253a5;
    --color-main : #0253a5;
    --color-black: #000;
    --color-white: #fff;
    --color-text: #334b49;
    --bs-primary-rgb: 2, 83, 165;
    --font-main:  'futura-md', 'Poppins', sans-serif;
    --font-main-italic:  'futura-md-italic', 'Poppins', sans-serif;
    --font-main-bold:  'futura-bold', 'Poppins', sans-serif;
    --font-main-bold-italic:  'futura-bold-italic', 'Poppins', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --gradient: linear-gradient(to right, #003a73 0%, #0253a5 51%, #003a73 100%);
}
.btn-outline-primary {
    --bs-btn-color: #0253a5;
    --bs-btn-border-color: #0253a5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0253a5;
    --bs-btn-hover-border-color: #0253a5;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0253a5;
    --bs-btn-active-border-color: #0253a5;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0253a5;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0253a5;
}
.btn-primary {
    --bs-btn-bg: #0253a5;
    --bs-btn-border-color: #0253a5;
    --bs-btn-hover-bg: #0253a5;
    --bs-btn-hover-border-color: #0253a5;
    --bs-btn-active-bg: #0253a5;
    --bs-btn-active-border-color: #0253a5;
    --bs-btn-disabled-bg: rgba(2, 83, 165, 0.6);
    --bs-btn-disabled-border-color: rgba(2, 83, 165, 0.6);
    --bs-btn-color: #fff;
}

/* CUSTOM CSS */
@import './styles.css'; 