body {
    font-family: var(--font-secondary);
    font-size: 14px;
    color: var(--color-text);
}
.font-primary {
    font-family: var(--font-main);
}
.font-primary-italic {
    font-family: var(--font-main-italic);
}
.font-primary-bold {
    font-family: var(--font-main-bold);
}
.font-primary-bold-italic {
    font-family: var(--font-main-bold-italic);
}
.font-secondary {
    font-family: var(--font-secondary);
}
.color-label {
    color:#6b7280;
}
.color-text {
    color: var(--color-text)
}
.color-primary {
    color: var(--color-primary)
}
.loader-wrapper {
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #16151c;
    z-index: 11;
    top: 0; }
    .loader-wrapper .loader {
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        right: 0;
        margin: 0 auto; }
            .loader-wrapper .loader h4 {
            margin-top: 50px;
            margin-bottom: 0; }
            .loader-wrapper .loader h4 span {
                font-size: 34px;
                color: #3fde00; }

.loader .line {
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 1px;
    height: 25px; }
    .loader .line:nth-child(1) {
        background:var(--color-main); }
    .loader .line:nth-child(2) {
        animation-delay: 180ms;
        background:var(--color-main); }
    .loader .line:nth-child(3) {
        animation-delay: 360ms;
        background:var(--color-main); }
    .loader .line:nth-child(4) {
        animation-delay: 540ms;
        background:var(--color-main); }

@-webkit-keyframes expand {
    0% {transform: scale(1)}
    25% {transform: scale(2)}
}

@keyframes expand {
    0% {transform: scale(1)}
    25% {transform: scale(2)}
}
.skeleton {
    background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {background-position: 200% 0}
    100% {background-position: -200% 0}
}
.fs-14 {
    font-size: 0.87rem;
}
.cursor-pointer {
    cursor: pointer;
}
.auth-body {
    --bs-border-color: rgb(255 255 255 / 65%);
    --bs-body-bg: transparent;
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    background-color: #16151c;
    font-family: var(--font-main);
    
}
.auth-body .form-floating > .form-control:focus ~ label, 
.auth-body .form-floating > .form-control-plaintext ~ label, 
.auth-body .form-floating > .form-select ~ label {
    color:#fff;
}
.auth-body .form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: var(--color-text);
}
.auth-body .form-floating > .form-control:not(:placeholder-shown) {
  background-color: #fff;
  color: var(--color-text);
}

.btn-border {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    transition: all 0.3s ease;
}
.btn-border:hover, .btn-border:focus, .btn-border:active, .btn-border:focus-visible {
    background-color: var(--color-primary);
    color: #fff;
}
.btn-hide, .btn-action {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: .5rem .85rem;
    font-size: 14px;
    transition: all .5s;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    letter-spacing: .03rem;
}
.btn-action {
    background-color: rgb(2 83 165 / 90%);
}
.btn-action svg {
    font-size: 1.2rem;
}
.btn-action:hover {
    background-color: rgb(2 83 165 / 100%);
}
.sortTable {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 1;
}
.sortTable span {
    display: inline-flex;
    align-items: center;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
}
.sortTable span.ceret-down {
    margin-top: -0.8em;
}
.sortTable .active {
    color:var(--color-main)
}
.table-sort {
    --bs-border-color: #f0f0f0
}
.table-sort th, .table-sort td {
    padding:12px 20px;
    font-size:14px;
}
.table-sort thead tr th {
    background-color: #e5e7eb;
    font-family: var(--font-main-bold);
    font-weight: 600;
    background: #e5e7eb;
    border-bottom: 1px solid #e9edf4;
}
.table-sort tbody td {
    color:#535353;
    vertical-align: middle;
}
.table-sort tbody tr td:first-child {
    font-weight: 600;
    font-family: var(--font-secondary);
}
.table-sort .status-table {
    font-family: var(--font-secondary);
    width: 80px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 12px;
}
.modal-title {
    font-family: var(--font-main-bold);
    color: var(--color-text);
    font-size: 1.3rem;
}
.react-select-wrapper {
    position: relative;
    z-index: 9;
}
.select-filter-floating {
    z-index: 9;
}
.select-filter-floating .floating-label {
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.select-filter-floating .react-select__control {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
    padding-left: 2px;
    align-items: flex-end;
    padding-bottom: 3px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.select-filter-floating .react-select__placeholder {
    color:var(--color-text);
    font-size: 1rem;
}
.select-filter-floating .react-select__single-value {
    font-size: 1rem;
}