
.loader-wrapper {
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #16151c;
    z-index: 11;
    top: 0; }
    .loader-wrapper .loader {
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        right: 0;
        margin: 0 auto; }
            .loader-wrapper .loader h4 {
            margin-top: 50px;
            margin-bottom: 0; }
            .loader-wrapper .loader h4 span {
                font-size: 34px;
                color: #3fde00; }

.loader .line {
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 1px;
    height: 25px; }
    .loader .line:nth-child(1) {
        background:var(--color-main); }
    .loader .line:nth-child(2) {
        animation-delay: 180ms;
        background:var(--color-main); }
    .loader .line:nth-child(3) {
        animation-delay: 360ms;
        background:var(--color-main); }
    .loader .line:nth-child(4) {
        animation-delay: 540ms;
        background:var(--color-main); }

@-webkit-keyframes expand {
    0% {transform: scale(1)}
    25% {transform: scale(2)}
}

@keyframes expand {
    0% {transform: scale(1)}
    25% {transform: scale(2)}
}

.fs-14 {
    font-size: 0.87rem;
}
.auth-body {
    --bs-border-color: rgb(255 255 255 / 65%);
    --bs-body-bg: transparent;
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    background-color: #16151c;
    font-family: var(--font-main);
    
}
.auth-body .form-floating > .form-control:focus ~ label, .form-floating > .form-control-plaintext ~ label, .form-floating > .form-select ~ label {
    color:#fff;
}
.auth-body .form-floating > .form-control:not(:placeholder-shown) ~ label {
    color: var(--color-text);
}
.auth-body .form-floating > .form-control:not(:placeholder-shown) {
  background-color: #fff;
  color: var(--color-text);
}

.btn-border {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    transition: all 0.3s ease;
}
.btn-border:hover, .btn-border:focus, .btn-border:active, .btn-border:focus-visible {
    background-color: var(--color-primary);
    color: #fff;
}